.headerContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  z-index: 5;
  max-width: 100%;
}

.images {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  width: 100%;
  height: 400px;
  z-index: 3;
}

.bgImage {
  position: absolute;
  background-image: url('../../public/images/bg-intro-mobile.svg');
  background-position-y: -65px;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  top: 0;
  right: 0;
}

.mockup {
  top: -58% !important;
  max-height: 200px !important;
  z-index: 10;
}

.textContainer {
  display: flex;
  gap: 1.2rem;
  flex-direction: column;
  align-items: center;
  margin: 0 3rem;
}

.headerContainer h1 {
  font-weight: 300;
  color: var(--dark-text);
  font-size: 3rem;
  margin: -50px 0 0 0;
}

@media (min-width: 425px) {
  .textContainer {
    margin: 3rem;
  }
}

@media (min-width: 768px) {
  .headerContainer {
    flex-direction: row-reverse;
  }

  .bgImage {
    background-image: url('../../public/images/bg-intro-desktop.svg');
    right: 0;
    background-position-y: -100px;
    background-position-x: 0px;
  }

  .mockup {
    top: -26% !important;
    right: -35% !important;
  }

  .textContainer {
    align-items: flex-start;
    text-align: start;
    width: 80%;
    padding: 3rem;
  }
}

@media (min-width: 1024px) {
  .bgImage {
    background-position-y: -160px;
    background-position-x: -20px;
  }

  .textContainer {
    width: 70%;
  }
}

@media (min-width: 1440px) {
  .images {
    height: 655px;
  }

  .bgImage {
    background-position-y: -220px;
    background-position-x: -40px;
  }

  .textContainer {
    width: 60%;
    margin: 3rem 14rem;
  }

  .textContainer h1 {
    font-size: 3rem;
  }
}

@media (min-width: 1540px) {
  .mockup {
    right: 0 !important;
  }
}
