.articleCard {
  border-radius: 0.5rem;
  background-color: white;
  width: 31.7rem;
}

.imageContainer .image {
  border-top-left-radius: 0.5rem;
  border-top-right-radius: 0.5rem;
}

.info {
  padding: 2rem 3rem 5rem 3rem;
}

.info h4 {
  margin: 1.2rem 0;
  align-self: flex-start;
}

.info p {
  line-height: normal;
  font-size: 1.2rem;
  margin: 0;
}

@media (min-width: 768px) {
  .articleCard {
    width: 28rem;
  }
}
