.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 6.4rem;
  background-color: white;
  padding: 0 6%;
  font-size: 1.4rem;
  position: relative;
  z-index: 20;
}

.navLinkContainer {
  display: flex;
  gap: 1.6rem;
  list-style: none;
  padding: 0 1rem;
  margin: 0;
}

.menuIcon {
  width: 3.2rem;
  height: 3.2rem;
}

.menuIcon:hover {
  cursor: pointer;
}

@media (min-width: 1024px) {
  .navLinkContainer {
    gap: 3rem;
  }
}
