.navItem {
  display: grid;
  grid-template-rows: 6rem 0.4rem;
  align-items: center;
  justify-items: center;
  height: 6.4rem;
  opacity: 0.6;
  transition: all 0.2s cubic-bezier(0.075, 0.82, 0.165, 1);
}

.navItem:hover {
  cursor: pointer;
  opacity: 1;
}

.navItem:hover .bottomBorder {
  visibility: visible;
}

.bottomBorder {
  background: linear-gradient(to right, var(--lime-green), var(--bright-cyan));
  background-size: cover;
  min-height: 0.4rem;
  width: 100%;
  visibility: hidden;
}

.show {
  display: inherit;
}
