.infoContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 8rem;
  padding: 6rem 3rem 2rem 3rem;
  background-color: var(--info-bg);
  text-align: center;
}

.infoList {
  display: flex;
  flex-wrap: wrap;
  gap: 3rem;
  margin-top: 4rem;
}
